@media (min-width: 320px) and (max-width: 1279px) {
  .page-header__links-container {
    display: none;
  }
  .page-header__header-wrapper {
    display: inline-block;
  }
  .page-header__logo-image {
    width: 80px;
    height: 35px;
  }
  .page-header__logo-container {
    display: block;
    margin-left: 19px;
    margin-top: 22px;
    margin-bottom: 67px;
    margin-right: 0px;
  }
}
