.page-footer {
  background: #34547a;
}
.page-footer__container {
  margin: 0px auto;
  max-width: 1125px;
  display: flex;
  justify-content: space-between;
  padding-top: 58px;
}
.page-footer__text {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.page-footer__text :first-child {
  font-weight: 500;
  font-size: 21px;
  color: #ffffff;
  margin-bottom: 20px;
}
.page-footer__text :last-child {
  font-weight: 400;
  font-size: 13px;
  color: #ffffff;
}
.page-footer__image {
  margin-right: 21.87px;
}
.page-footer__images :last-child {
  margin-right: 0px;
}

@media (min-width: 320px) and (max-width: 1279px) {
  .page-footer {
  }
  .page-footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
  }
  .page-footer__text :first-child {
    text-align: center;
  }
  .page-footer__text {
    margin-bottom: 40px;
  }
  .page-footer__images {
    margin-bottom: 50px;
  }
}
