.form-section {
  background: #eeeff1;
}
.form-section__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-section__text-container {
  padding-top: 100px;
  padding-bottom: 65px;
  width: 540px;
}
.form-section__input-block {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.form-section__input-text {
  margin-right: 30px;
}
.input-repeat {
  font-weight: 400;
  font-size: 14px;
  padding: 0 20px;
  width: 255px;
  height: 50px;
}
.form-section__input-textarea {
  resize: none;
  color: #5f5d5d;
  padding-top: 17px;
  width: 540px;
  height: 175px;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 50px;
}
.form-section__button-submit {
  display: block;
  margin: 0px auto;
  width: 190px;
  height: 55px;
  margin-bottom: 100px;
}

@media (min-width: 320px) and (max-width: 1279px) {
  .form-section {
    background: #e5e5e5;
  }
  .form-section__title {
    margin-bottom: 34px;
  }
  .form-section__text {
    width: 322px;
    height: 98px;
  }
  .form-section__text-container {
    width: initial;
  }
  .form-section__input-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .form-section__input-textarea {
    width: 342px;
  }
  .input-repeat {
    width: 342px;
    height: 50px;
  }
  .form-section__input-text {
    margin-right: 0px;
    margin-bottom: 22px;
  }
}
