/*section 2 =====================================================*/
.about-section {
  background: #e5e5e5;
}
/*block repeat with title===================================*/
.title-repeat {
  color: #000000;
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 50px;
  text-align: center;
}
.text-repeat {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #727272;
}
/*text about me container title + text=============================*/
.about-section__text-container {
  width: 540px;
  height: 147px;
  max-width: 1150px;
  margin: 0px auto;
  height: 366px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*blue big band======================================================*/
.about-section__blue-band-container {
  height: 250px;
  background: #34547a;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom:102px; */
}
.about-section__image-container {
  max-width: 1150px;
}
.about-section__image {
  margin-right: 49px;
}
.about-section__blue-band-container :last-child {
  margin-right: 0px;
}
/*my skils and photo ===========================================================*/
.about-section__content-container {
  height: 653px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*container with skills==========================================*/
.about-section__skills-container {
  margin-right: 150px;
}
.about-section__skills-container :last-child {
  margin-bottom: 0px;
}
.about-section__title {
  font-weight: 500;
  font-size: 32px;
  color: #000000;
  margin-bottom: 50px;
}
.about-section__text {
  color: #727272;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 19.88px;
}
.about-section__blue-line {
  display: inline-block;
  background: #34547a;
  height: 4px;
  width: 349.36px;
  margin-right: -8px;
}
.about-section__grey-line {
  display: inline-block;
  background: #c4c4c4;
  height: 4px;
  width: 95.64px;
}
.about-section__line-container {
  margin-bottom: 29.76px;
}
/*photo container=================================*/
.about-section__photo {
  width: 550px;
  height: 450px;
}
