/*section 2 =====================================================*/
.about-section {
  background: #e5e5e5;
  padding-top: 119px;
  padding-bottom: 101px;
}
/*block repeat with title===================================*/
.about-section__wrapper {
  margin: 0px auto;
}
.title-repeat {
  color: #000000;
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 50px;
  text-align: center;
  line-height: 38px;
}
.text-repeat {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #727272;
  max-width: 540px;
}
/*text about me container title + text=============================*/

/*blue big band======================================================*/
.about-section__blue-band-container {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #34547a;
}
.about-section__text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}
.about-section__image-container {
  max-width: 1150px;
  margin: 0px auto;
  display: flex;
}
.about-section__block-image {
  max-width: 141px;
  height: 50px;
  margin-right: 50px;
  display: flex;
}
.about-section__block-counter {
}
.about-section__block-counter :first-child {
  padding-top: 3px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 21px;
  color: #ffffff;
}

.about-section__block-counter :last-child {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

.about-section__image {
  max-width: 50px;
  max-height: 50px;
  width: 100%;
  height: 100%;
  margin-right: 20px;
}

/*my skils and photo ===========================================================*/
.about-section__content-container {
  max-width: 1150px;
  margin: 0px auto;
  padding-top: 102px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*container with skills==========================================*/
.about-section__skills-container {
  margin-right: 150px;
}
.about-section__skills-container :last-child {
  /* margin-bottom: 0px; */
}
.about-section__title {
}
.about-section__text {
  color: #727272;
  font-weight: 400;
  font-size: 16px;
}
.about-section__sub-text {
  color: #727272;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
  max-width: 128px;
}
.about-section__sub-title {
  font-weight: 500;
  font-size: 32px;
  color: #000000;
  margin-bottom: 50px;
  max-width: 403px;
}

.about-section__blue-line {
  background: #34547a;
  height: 4px;
  max-width: 80%;
}
.about-section__grey-line {
  background: #c4c4c4;
  height: 4px;
  width: 445px;
  margin-bottom: 30px;
}
.about-section__line-container {
}
/*photo container=================================*/
.about-section__photo {
  max-width: 555px;
  max-height: 450px;
  width: 100%;
  height: 100%;
}
@media (min-width: 320px) and (max-width: 1279px) {
  .about-section {
    margin: 0px;
    padding: 0px;
  }
  .about-section__wrapper {
    background: #ffffff;
    padding-top: 91px;
  }
  .about-section__text-container {
    margin-bottom: 82px;
  }
  .about-section__blue-band-container {
    margin: 0px;
    padding: 0px;
    padding-bottom: 74px;
    padding-top: 74px;
    display: flex;
    justify-content: center;
  }
  .about-section__image-container {
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    max-width: 400px;
  }
  .about-section__block-image {
    width: 155px;
    height: 50px;
    margin-bottom: 50px;
    margin-right: 0px;
  }
  .about-section__image-container :nth-child(5) {
    margin-bottom: 0px;
  }
  .about-section__block-image :nth-child(6) {
    margin-bottom: 0px;
  }
  .about-section__image {
    margin: 0;
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }

  .about-section__content-container {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    margin-bottom: 103px;
  }

  .about-section__skills-container {
    order: 2;
    display: block;
    margin: 0px;
    padding: 0px;
    margin-top: 98px;
  }
  .about-section__photo-container {
    order: 1;
    margin-top: 82px;
  }
  .about-section__title {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    height: 38px;
    margin-bottom: 42px;
  }
  .about-section__text {
    margin-bottom: 0px;
  }
  .about-section__sub-title {
    display: flex;
    justify-content: center;
  }
  .about-section__blue-line {
  }
  .about-section__grey-line {
    width: 340px;
  }
  .about-section__photo {
    max-width: 339px;
    max-height: 275px;
    width: 100%;
    height: 100%;
  }
  .title-repeat {
    font-weight: 500;
    font-size: 32px;
    font-weight: 500;
    font-size: 32px;
  }
  .text-repeat {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-left: 26px;
    padding-right: 26px;
  }
}
