/*section with 8 photo=============================================*/
.photo-section {
  height: 1016px;
  background: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*container with 8 blocks photo with logos==================================================*/
.photo-section__container {
  display: grid;
  grid-template-areas:
    "A B C D"
    "E F G H";
}
.photo-section__column-images-1 {
  grid-area: A;
}
.photo-section__column-images-2 {
  grid-area: B;
}
.photo-section__column-images-3 {
  grid-area: C;
}
.photo-section__column-images-4 {
  grid-area: D;
}
.photo-section__column-images-5 {
  grid-area: E;
}
.photo-section__column-images-6 {
  grid-area: F;
}
.photo-section__column-images-7 {
  grid-area: G;
}
.photo-section__column-images-8 {
  grid-area: H;
}
.photo-block {
  position: relative;
  width: 480px;
  height: 480px;
}
.photo-section__logo {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.photo-section__photo {
  position: absolute;
  z-index: 1;
  width: inherit;
  height: inherit;
}
.photo-block::after {
  position: absolute;
  z-index: 0;
  width: 480px;
  height: 480px;
  content: "";
  background-color: rgba(52, 84, 122, 0.8);
}
.photo-block:hover::after {
  z-index: 1;
}
.photo-block:hover .photo-section__logo {
  z-index: 3;
}

@media (min-width: 320px) and (max-width: 1279px) {
  .photo-section {
    height: initial;
    margin-top: 34px;
    margin-bottom: 34px;
  }

  .photo-section__container {
    display: grid;
    grid-template-areas:
      "A B"
      "C D"
      "E F"
      "G H";
  }

  .photo-block {
    position: relative;
    width: 188px;
    height: 188px;
  }
  .photo-block::after {
    width: 188px;
    height: 188px;
  }
}
